<div>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">EdCerts</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/Verify">Verify</a></li>
                <li><a href="/SignIn">Sign In</a></li>

            </ul>
        </div>
    </nav>
</div>