<div>
        <nav >

            <div class="nav-wrapper ">
                <a href="/HEC/home" class="brand-logo">EdCerts</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/HEC/home/AddUniversity">Invite University</a></li>
                    <li><a href="/HEC/home/ListOfUniversities">List of Universities</a></li>
                    <li><a href="#" > <i class="material-icons">notifications</i> </a></li>
                    <li><a href="/logout">Logout</a></li>
                    

                </ul>
            </div>
        </nav>
    </div>