<!doctype html>

<html>
<head>
</head>
<body class="centerAlign">
	<div name="display" class="leftAlign">
		<h1>Whoops! Something has gone wrong.</h1>
		<p>Message: <%= error.msg %></p>
		<p>StatusCode: <%= error.status %></p>
		<pre>StackTrace: <%= error.stack %></pre>        
	</div>
</body>
</html>

