
<% include partials/Header %>

<body>
    
  <div id="particles-js"></div> <!-- stats - count particles -->
   
  <% include partials/Navbar %>

  <div class="center" id="ProjectTitle">
<h1  class="white-text">EdCerts</h1>
<h3 class="white-text">Blockchain - Identity and Student’s Record</h3>
</div>

 </body>
  
<% include partials/Footer %>
