
<% include partials/Header %>

<body>
    
  <div id="particles-js"></div> <!-- stats - count particles -->
   
  <% include partials/Navbar %>

  <div class="center" id="ProjectTitle" >
<h4  class="textColor">Verifier</h4>
<nav class="searchbar">
        <div class="nav-wrapper searchbarwrapper  ">
          
            <form>
            <div class="input-field">
              <input id="search" type="search" class="validate" required>
              <label for="search">Enter Certificate URL</label>
             
            </div>
          </form>
          <ul>
          <li class="right "><a href="" class="textColor"><b> Verify</a></b></li>
        </ul>
          
        </div>
      </nav>

</div>

 </body>
  
<% include partials/Footer %>
