
<% include partials/Header %>

<body>
    
  <div id="particles-js"></div> <!-- stats - count particles -->
   
  <% include partials/Navbar %>

  <div class="center" id="ProjectTitle">
<h1  class="blue-text">EdCerts</h1>
<nav class="searchbar">
        <div class="nav-wrapper searchbarwrapper  ">
          
            <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search">Enter URL</label>
             
            </div>
          </form>
          <ul>
          <li class="right" ><a href="" class="blue-text"><b> Verify</a></b></li>
        </ul>
          
        </div>
      </nav>

</div>

 </body>
  
<% include partials/Footer %>
