<% include /partials/Header %>

</head>

<body>
  <% include /partials/navbar %>

  <% include /partials/CertificateCard %>
  <div id="recep">
    <table class="centered responsive-table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Last Modified Date</th>
        </tr>
      </thead>

      <tbody>

        <% degree.forEach( function(degree) { %>
        <tr>
          <td> <label>
              <input class="check" type="checkbox" />
              <span class="label-text"></span>
            </label>
          </td>
          <td><a href="/Institute/Certificate/<%= degree._id%>">
              <%= degree.Title %></a> </td>
          <td>
            <%=  (new Date(degree.DateofCreation)).toLocaleDateString()  %>
          </td>

        </tr>

        <% }) %>

      </tbody>
    </table>
  </div>
  <div id="RecepOptions">
    <div><a href=""><span>Delete</span></a></div>
  </div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>
<script>
  $(document).ready(function () {
    $("#createbtn").click(function () {
      var favorite = [];
      $.each($("input[name='feature']:checked"), function () {
        favorite.push($(this).val());
      });
      $('#DegreeForm').submit();
    });
  });
</script>

</html>